/* CSS for Contact Page */

/* Contact Body */
.contact {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Conatct Details */
.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: flex;
  align-items: center;
  margin: 30px;
}

.inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.inner-container h3 {
  font-size: 80px;
  text-transform: uppercase;
  color: var(--dark-color);
  text-shadow: -1px 0 var(--grey-color), 0 1px var(--grey-color),
    1px 0 var(--grey-color), 0 -1px var(--grey-color);
}

.inner-container a {
  position: absolute;
  bottom: 10%;
  font-weight: bolder;
  color: var(--bright-color);
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
  border: none;
}

.form textarea {
  border-radius: 10px;
  height: 100px;
  padding: 5px;
  margin: 10px 0;
}

.form button {
  margin-top: 10px;
  align-self: center;
}

.form input:focus,
.form textarea:focus {
  outline: 2px solid var(--bright-color);
}
