/* Media queries CSS file */
@media (max-width: 1200px) {
  /* Body */
  body {
    text-align: center;
    height: fit-content;
    width: fit-content;
  }

  p {
    font-size: 16px;
  }

  /* Index.html */
  .main {
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

  .main img {
    visibility: hidden;
  }

  .main-container {
    display: block;
    width: fit-content;
    position: absolute;
    margin-top: 30px;
  }

  .main-header p {
    margin-right: 50px;
  }

  .text-scroll {
    text-align: right;
    margin-top: 23%;
  }

  .about {
    margin-top: 100px;
  }

  .about p {
    width: auto;
    margin: 20px 40px;
  }

  /* Projects */
  .projects {
    display: block;
    margin: 0;
  }

  .projects img {
    width: 50%;
    margin: 10px 0;
  }

  .left-container p {
    margin: 10px 40px;
  }

  .middle-section {
    height: fit-content;
  }

  .middle-section h2 {
    transform: rotate(0deg);
    margin: 0 20px;
  }

  .right-section {
    margin: 0;
  }

  .left-section,
  .middle-section,
  .right-section {
    width: fit-content;
    margin: 30px 0;
  }

  .inner-div {
    flex-direction: column;
  }

  .inner-div p,
  .reverse p {
    margin: 10px 40px;
  }

  /* Contact */
  .contact {
    flex-direction: column;
  }
}
