/* Media queries CSS file */
@media (max-width: 1200px) {
  /* Body */
  body {
    text-align: center;
    height: fit-content;
    /* width: fit-content; */
  }

  p {
    font-size: 16px;
  }

  /* Index.html */
  .main {
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

  .main img {
    visibility: hidden;
  }

  .main-container {
    display: block;
    width: fit-content;
    position: absolute;
    margin-top: 30px;
  }

  .main-header p {
    margin: 5px 0;
  }

  .text-scroll {
    position: relative;
    /* animation-delay: 1s; */
  }

  .about {
    margin-top: 50px;
    animation: fade-in 2s ease-in;
  }

  .about p {
    width: auto;
    margin: 20px 40px;
  }

  /* Projects */
  .projects {
    display: block;
    margin: 0;
    height: fit-content;
  }

  .projects h3 {
    animation: fade-in 2s ease-in;
  }

  .projects p {
    font-size: 16px;
    animation: fade-in 3s ease-in;
  }

  .projects img {
    width: 50%;
    margin: 10px 0;
    animation: fade-in 1s ease-in;
  }

  .left-container p {
    margin: 10px 40px;
  }

  .middle-section {
    height: fit-content;
  }

  .middle-section h2 {
    transform: rotate(0deg);
    margin: 0 20px;
    animation: fade-in 4s ease-in;
  }

  .right-section {
    margin: 0;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .left-section,
  .middle-section {
    width: fit-content;
    margin: 30px 0;
  }

  .right-section {
    width: 100%;
  }
  .right-container {
    margin: 0 30px;
  }

  .inner-project-container {
    flex-direction: column;
  }

  .individual-project h3 {
    width: 70%;
    margin-bottom: 10px;
  }

  .project {
    margin-bottom: 20px;
  }

  .mobile-project h3 {
    width: 80%;
  }

  .mobile-project-inner img {
    display: none;
  }

  .mobile-project-inner {
    flex-direction: column;
  }

  /* Contact */
  .contact {
    animation: fade-in 1.5s ease-in;
  }

  .form {
    flex-direction: column;
  }

  .form label {
    text-align: left;
  }

  /* Animations */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
