/* CSS File for projects page */

/* CSS File for projects page */

/* Projects Section */
.projects {
  display: inline-flex;
  align-items: center;
  margin: 0 5%;
  height: 70vh;
}

.projects img {
  width: 35%;
}

/* Left Project */
.left-section {
  width: 30%;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-container img {
  width: 60%;
}

.left-container h3 {
  margin: 10px 0;
}

.left-container p {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.left-container i {
  font-size: 12px;
  margin: 0 3px;
  color: var(--grey-color);
}

.left-container i:hover {
  color: var(--bright-color);
}

/* Middle Header */
.middle-section {
  width: 20%;
  height: 100vh;
}

.middle-section h2 {
  margin-top: 100%;
  transform: rotate(270deg);
  font-size: 80px;
  color: var(--dark-color);
  text-shadow: -1px 0 var(--bright-color), 0 1px var(--bright-color),
    1px 0 var(--bright-color), 0 -1px var(--bright-color);
}

/* Right Project Section */
.right-section {
  width: 60%;
  margin: 0 40px;
}

.right-section h3 {
  width: 50%;
  border-bottom: 2px solid var(--bright-color);
}

.individual-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
}

.individual-project i {
  font-size: 12px;
  margin: 3px;
  color: var(--grey-color);
}

.individual-project i:hover {
  color: var(--bright-color);
}

.inner-div p {
  margin-right: 40px;
  font-size: 12px;
}

.reverse {
  align-items: flex-end;
  border-bottom: 1px solid var(--grey-color);
  border-top: 1px solid var(--grey-color);
}

.reverse h3 {
  text-align: right;
}

.reverse p {
  text-align: right;
  margin: 0;
  margin-left: 40px;
}

.inner-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-div img {
  margin: 0 10px;
  border-radius: 5px;
  transition: transform 1.5s ease-in-out;
}

.inner-div img:hover {
  transform: scale(2);
}

/* Expand Images */
/* Modals */
.show-modal {
  border: none;
  cursor: pointer;
  background-color: var(--dark-color);
}

/* CLASSES TO MAKE MODAL WORK */
.modal {
  position: fixed;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.close-modal {
  position: absolute;
  bottom: 70%;
  left: 67%;
  z-index: 2;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  background-color: orangered;
}

.hidden {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
