/* CSS File for all utilties on website */

/* Root CSS Variables */
:root {
  --bright-color: #fd96e1;
  --dark-color: #010101;
  --light-color: #f4f4f4;
  --grey-color: #444544;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body CSS */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 100vh;
  overflow: hidden;
}

/* Utilities */
a {
  color: var(--light-color);
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: var(--bright-color);
  color: var(--dark-color);
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 20px;
}

img {
  width: 24%;
}

/* Navbar */
.navbar {
  /* For some reason without the border top I get a grey thick line above the navbar??? */
  border-top: 1px solid #010101;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.nav-links span {
  color: var(--bright-color);
}

.nav-links .logo {
  transform: rotate(-10deg);
}

/* Contact Hover */
.nav-links .contact-button:hover {
  border-bottom: 2px solid var(--bright-color);
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 2.5%;
  width: 95%;
  border-top: 2px solid var(--bright-color);
}

.social-links {
  margin: 20px;
}

.social-links i {
  margin: 0 10px;
  color: var(--grey-color);
  transition: color 1s ease-in-out;
}

.social-links i:hover {
  color: var(--bright-color);
}
